version: '5'

services:
  svelte-prod:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.prod
    ports:
      - '5000:5000'
    environment:
      - NODE_ENV=production
      - PORT=5000
