@import "tailwindcss";

@plugin 'flowbite/plugin';
@plugin "flowbite-typography";

@custom-variant dark (&:where(.dark, .dark *));

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@theme {
  /* Light Theme - Purple */
  --color-primary-50:  #faf5ff;
  --color-primary-100: #f3e8ff;
  --color-primary-200: #e9d5ff;
  --color-primary-300: #d8b4fe;
  --color-primary-400: #c084fc;
  --color-primary-500: #a855f7;
  --color-primary-600: #9333ea;
  --color-primary-700: #7e22ce;
  --color-primary-800: #6b21a8;
  --color-primary-900: #581c87;

  /* Dark Theme - Purple */
  --color-secondary-50:  #faf5ff;
  --color-secondary-100: #e9d5ff;
  --color-secondary-200: #d8b4fe;
  --color-secondary-300: #c084fc;
  --color-secondary-400: #a855f7;
  --color-secondary-500: #8b5cf6;
  --color-secondary-600: #7c3aed;
  --color-secondary-700: #6d28d9;
  --color-secondary-800: #5b21b6;
  --color-secondary-900: #4c1d95;

  --background: var(--color-primary-50)
}


main {
  max-width: min(100ch, 100%);
  margin-inline: auto;
}

html {
  color-scheme: light dark;
}
