name: Check if can build
on: push

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          cache: true

      - name: generate .env file
        run: |
          echo "GITHUB_KEY='secret_key'" > .env

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: npm run build
