name: Check if can build
on: push

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: generate .env file
        run: |
          echo "GITHUB_KEY='secret_key'" > .env

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: npm run build
